/* @font-face {
    font-family: 'Caveat';
    src: url('./Caveat-VariableFont_wght.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
} */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300..700&display=swap');

body {
    background-color: rgb(239, 236, 221);
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

header {
    display: grid;
    gap: 1rem;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Libre Baskerville";
}

h1 {
    /* font-family: 'Caveat'; */
    font-weight: 800;
    font-size: 9rem;
    color: rgb(0, 0, 164);
    height: 10rem;
    text-align: center;
    margin: 0;
    /* margin-top: -1rem; */
    margin-right: 3rem;
}

#title img {
    margin-top: 1rem;
    height: 6rem;
    filter: invert(18%) sepia(86%) saturate(3425%) hue-rotate(239deg) brightness(55%) contrast(135%);
}

nav {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr auto 1rem auto 1rem auto 1fr;
}

nav div {
    border-bottom: solid 1px rgb(0, 0, 164);
}

button {
    background-color: rgb(239, 236, 221);
    border: solid 1px rgb(0, 0, 164);
    /* border-bottom: 0; */
    height: 2rem;
    color: rgb(0, 0, 164);
    font-size: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    letter-spacing: 0.2rem;
    text-align: center;
}

.selected-btn {
    border-bottom: 0;
}

#content {
    display: flex;
    justify-content: center;
}

#main-content {
    display: grid;
    width: 60%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 5rem;
    background-color: rgb(239, 236, 221);
    color: rgb(0, 0, 164);
    margin-top: 3rem;
    align-items: center;
}


#main-content img {
    height: 400px;
    grid-area: 1/2/3/3;
    align-self: center;
    padding: 1rem;
    border: solid 3px rgb(0, 0, 164);
}

#slogan {
    font-size: 5.5rem;
    /* font-weight: 700; */
    justify-self: center;
    font-family: 'Caveat', sans-serif;
    white-space: pre-line;
    grid-area: 1/1/2/2;
    margin: 0;
}

#subtext {
    color: gray;
    font-size: 1rem;
    grid-area: 2/1/3/2;
    line-height: 1.5rem;
}


/* Menu Page */

#menu {
    margin: 3rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    width: 60%;
    border: solid 3px rgb(0, 0, 164);
    padding: 3rem;
    gap: 3rem;
}

ul {
    padding-left: 0.5rem;
}

li {
    list-style-type: none;
    color: rgb(0, 0, 164);
    font-size: 1.2rem;
    font-weight: 100;
}

.category-title {
    color: rgb(0, 0, 164);
    font-size: 1.5rem;
    border: solid 3px rgb(0, 0, 164);
    letter-spacing: 0.2rem;
    padding: 0.25rem;
    font-weight: 800;
}

#brunch-menu {
    grid-area: 1/2/4/3;
}

#brunch-menu ul li {
    margin-top: 1rem;
}

h4 {
    margin: 0;
    letter-spacing: 0.1rem;
    font-weight: 800;
}

#brunch-menu ul li p {
    font-weight: 100;
}

p {
    margin: 0;
}